form{
    
    box-shadow:  0 2px 4px rgba(0,0,0,0.2);
}
body{
    background-color: rgb(212,212,231);
}
.fos{
    display: flex;
    align-items: center;
    gap: 5rem;
    justify-content: center;
    height: 100vh;
}
h1{
    color: rgb(50, 50, 132) ;
}
.des{
    padding: 1rem 1rem;
    background-color: white;
    box-shadow: 15rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
#lo{
    width: 15rem;
    background-color: rgb(50, 50, 132);
    color: white;
    outline: none;
    border-radius: 10px;
    border: 1px solid white;
    margin-top: rem;
    margin-bottom: 1rem;
    padding: 1rem 1rem;
}
#cnas{
    width: 15rem;
    padding: 1rem 1rem;
    background-color: rgb(0, 128, 0);
    color: white;
    outline: none;
    border-radius: 10px;
    border: 1px solid white;
    margin-top: rem;
    margin-bottom: 1rem;
    margin-left: 25%;
}
#cna{
    width: 15rem;
    padding: 1rem 1rem;
    background-color: rgb(0, 128, 0);
    color: white;
    outline: none;
    border-radius: 10px;
    border: 1px solid white;
    margin-top: rem;
    margin-bottom: 1rem;
}
#fo{
    width: 15rem;
    background-color:white;
    color: rgb(50, 50, 132) ;
    outline: none;
    border-radius: 10px;
    border: 1px solid white;
    margin-top: rem;
    margin-bottom: 1rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    padding: 5px 5px;
}
#em{
    padding: 7px 7px;
    width: 15rem;
    background-color:white;
    color: rgb(50, 50, 132) ;
    outline: none;
    border-radius: 5px;
    border: 1px solid red;
    margin-top: rem;
    margin-bottom: 2rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}
#ems{
    
        padding: 1rem 1rem;
        width: 30rem;
        background-color:white;
        color: rgb(50, 50, 132) ;
        outline: none;
        border-radius: 5px;
        border: 1px solid red;
        margin-top: rem;
        margin-bottom: 1rem;
        box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    
}
#res1{
        padding: 5px 5px;
        width: 8rem;
        background-color:white;
        outline: none;
        color: rgb(50, 50, 132) ;
        outline: none;
        border-radius: 5px;
        border: 1px solid red;
        margin-top: rem;
        margin-bottom: 1rem;
        box-shadow: 0 2px 4px rgba(0,0,0,0.2);
        justify-content:space-evenly;
        margin-inline: 2%;
}
#res2{
    padding: 5px 5px;
        width: 8rem;
        background-color:white;
        outline: none;
        color: rgb(50, 50, 132) ;
        outline: none;
        border-radius: 5px;
        border: 1px solid red;
        margin-top: rem;
        margin-bottom: 1rem;
        box-shadow: 0 2px 4px rgba(0,0,0,0.2);
        justify-content:space-around;
        margin-inline: 2%;
}
#res3{
    padding: 5px 5px;
        width: 8rem;
        background-color:white;
        outline: none;
        color: rgb(50, 50, 132) ;
        outline: none;
        border-radius: 5px;
        border: 1px solid red;
        margin-top: rem;
        margin-bottom: 1rem;
        box-shadow: 0 2px 4px rgba(0,0,0,0.2);
        justify-content:space-around;
        margin-inline: 2%;
}
#nm{
    
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    background-color:white;
    outline: none;
    border-radius: 5px;
    border: 1px solid white;
    margin-top: rem;
    margin-bottom: 1rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
     cursor: pointer;

    border: 1px solid black;
    
}
.west{
    margin-bottom: 2px;
    display: flex;
    justify-content:space-around;
    
}
/* .wes{
    padding: 15px 30px;
    margin: 0px 0px 0px 0px;
    justify-content:space-around;
} */